h1, a, ul, h2, p, ol {
    font-family: monospace, sans-serif;
}

img {
    width: 400px;
    height: auto;
}

.ingredients {
    border: 1px solid;
    background-color: antiquewhite;
}

.steps {
    border: 1px solid;
    background-color: aquamarine;
}

#odin-recipes {
    font-weight: 800;
    font-size: 80px;
}

